@font-face {
    font-family: 'kanit';
    src: url('assets/Kanit-Regular.ttf') format('ttf'),
}

.main {
    color: antiquewhite;
    font-family: 'kanit', sans-serif;
    background: linear-gradient(to right, #000038, #00001c);

}

#myName {
    font-size: 80px;
    margin-top: 0px;
    margin-bottom: 0px;

    background: linear-gradient(to right, #c100be, #453aa5,#427fe7, #48c0ec);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}

.intro {
    color: #8e9cb6;
    margin-bottom: 0px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  /* Creates 3 equal columns */
    grid-template-rows: repeat(5, 1fr);     /* Creates 3 equal rows */
    gap: 10px;                              /* Space between grid items */
    height: 200vh;                          /* Set grid height */
}

/* Merge top-left 2x2 cells */
.item1 {
    grid-column: 1 / 3;  /* Span 2 columns */
    grid-row: 2 / 4;     /* Span 2 rows */
    padding-left: 25vh;
    padding-top: 10vh;
}

.headshot {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
    padding-right: 20vh;
}

.about {
    grid-row: 4 / 6;
    grid-column: 1 / 4;
    padding-left: 15vh;
    padding-right: 15vh;
    text-align: center;
}

.section {
    text-align: center;
    font-size: 10vh;
}

.list {
    display: flex;
    justify-content: space-evenly;
}

.listItem {
    flex: 1;
    text-align: center;
}

.courseName {
    text-align: center;
}

.connect {
    display: flex;
    justify-content: center;
}

.media {
    margin: 5vh;
}
